streamproxy
filestreamproxy
transtreamproxy
*.ts
*.log
*.o
.revision
.bak
.autotools
.cproject
.project
.deps
version.h
up.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.status
configure
depcomp
install-sh
missing
stamp-h1
config.h.in~

